{% extends "base.html" %}


{% block table %}



<table class="ui celled table">
  <thead>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>1</td>
      <td><a href="#" onclick='paint(1, 1)'>75</td>

      <td><a href="#" onclick='paint(1, 2)'>92</td>

      <td><a href="#" onclick='paint(1, 3)'>68</td>

      <td><a href="#" onclick='paint(1, 4)'>225</td>
    </tr>
    <tr>
      <td>2</td>
      <td><a href="#" onclick='paint(2, 1)'>79</td>

      <td><a href="#" onclick='paint(2, 2)'>115</td>

      <td><a href="#" onclick='paint(2, 3)'>123</td>

      <td><a href="#" onclick='paint(2, 4)'>242</td>
    </tr>
    <tr>
      <td>3</td>
      <td><a href="#" onclick='paint(3, 1)'>86</td>

      <td><a href="#" onclick='paint(3, 2)'>164</td>

      <td><a href="#" onclick='paint(3, 3)'>162</td>

      <td><a href="#" onclick='paint(3, 4)'>248</td>
    </tr>
    <tr>
      <td>4</td>
      <td><a href="#" onclick='paint(4, 1)'>122</td>

      <td><a href="#" onclick='paint(4, 2)'>195</td>

      <td><a href="#" onclick='paint(4, 3)'>164</td>

      <td><a href="#" onclick='paint(4, 4)'>249</td>
    </tr>
  </tbody>
</table>
{% endblock %}

{% block scripts %}

{% endblock %}
